@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.population,
.capital,
.region,
.timezone,
.googlemap {
    font-size: medium;
    text-transform: capitalize;
    color: #586167;
}

.googlemap {
    text-decoration: none;
    color: #0c87d9;
}

.card div {
    // flex: 1 1 100%;
    display: block;
    padding: 0;
}

.country-name {
    font-size: medium;
    font-weight: 600;
}
.country-content {
    padding: 0 0 0 1rem;
    font-family: 'Open Sans', sans-serif;
}
@media (min-width: 320.5px) {
    .card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .card div {
        flex: 1 1 50%;
    }

    .country-name {
        font-weight: 600;
        font-size: large;
    }
   
}