<!-- <h2>Books</h2>
<app-book-list class="book-list" [books]="books$ | async" (add)="onAdd($event)"></app-book-list>

<h2>My Collection</h2>
<app-book-collection class="book-collection" [books]="bookCollection$ | async" (remove)="onRemove($event)">
</app-book-collection> -->
<!-- <div [ngClass]="iconToggle ? 'darkmode': 'lightmode'"> -->
    <div class="toolbar-container">
        <div class="container">
            <div class="toolbar-top">
                <h2 [routerLink]="['/countries']">where in the world?</h2>
                <div>
                    <mat-icon class="icon-toggle" (click)="toggleTheme()">{{iconText}}</mat-icon>

                    <!-- <mat-icon>bedtime</mat-icon> -->
                </div>
                <!-- <mat-icon></mat-icon> -->
            </div>
        </div>
    </div>
    <!-- dont keep here -->
    <!-- <app-countries-list  [routerLink]="['/countries']" [countries]="countries | async"></app-countries-list>   -->
<!-- </div> -->


<router-outlet></router-outlet>